<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="web.xsl" type="text/xsl"?>
<type xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="web.xsd">
    <employee> 
        <firstname>Alan</firstname>
        <lastname>Rickman</lastname>
        <experience>20</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1335</userid>
        <age>45</age>
    </employee>

    <employee>
        <firstname>Peter</firstname>
        <lastname>Parker</lastname>
        <experience>21</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1435</userid>
        <age>47</age>
    </employee>

    <employee>
        <firstname>Bruce</firstname>
        <lastname>Banner</lastname>
        <experience>22</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1356</userid>
        <age>55</age>
    </employee>

    <employee>
        <firstname>Stephan</firstname>
        <lastname>Strange</lastname>
        <experience>23</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1755</userid>
        <age>58</age>
    </employee>

    <employee>
        <firstname>Steve</firstname>
        <lastname>Rogers</lastname>
        <experience>20</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1372</userid>
        <age>65</age>
    </employee>

    <employee>
        <firstname>Thor</firstname>
        <lastname>Odinson</lastname>
        <experience>22</experience>
        <type>Doctor</type>
        <gender>male</gender>
        <userid>1305</userid>
        <age>60</age>
    </employee>
</type>